Repository GabrielGuedess/NestJs-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

.lintstagedrc:

{
  "package.json": "pnpm sort:package",
  "src/**/*.ts": [
    "bash -c tsc --noEmit",
    "pnpm find-deadcode",
    "pnpm lint --no-warn-ignored",
    "pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts"
  ]
}

chore(release): 1.5.12 [skip ci]
  package.json
Due: pnpm sort:package

chore(release): 1.5.13 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.13 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  5ee3f1e001152dca264b86fd862bc242a493a623
Due: none

build: add graphql-upload-ts
  package.json
  pnpm-lock.yaml
  src/infrastructure/http/graphql/resolvers/user.resolver.ts
  src/infrastructure/main.ts
Due: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

fix: add deadcode and new prisma import
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/erd.yml
  .github/workflows/release.yml
  .gitignore
  .nvmrc
  .ts-prunerc
  eslint.config.mjs
  generators/templates/infrastructure/prisma/prismaMapper.hbs
  generators/templates/test/e2e.test.hbs
  nest-cli.json
  package.json
  prisma/schema.prisma
  src/infrastructure/database/prisma/mappers/PrismaUserMapper.ts
  src/infrastructure/database/prisma/prisma.service.ts
  src/infrastructure/http/graphql/generated/user/delete-one-user.args.ts
  src/infrastructure/http/graphql/generated/user/find-first-user-or-throw.args.ts
  src/infrastructure/http/graphql/generated/user/find-first-user.args.ts
  src/infrastructure/http/graphql/generated/user/find-many-user.args.ts
  src/infrastructure/http/graphql/generated/user/find-unique-user-or-throw.args.ts
  src/infrastructure/http/graphql/generated/user/find-unique-user.args.ts
  src/infrastructure/http/graphql/generated/user/update-one-user.args.ts
  src/infrastructure/http/graphql/generated/user/upsert-one-user.args.ts
  src/infrastructure/http/graphql/generated/user/user-aggregate.args.ts
  test/jest-e2e.json
  test/jest.config.ts
Due: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore: command e2e
  package.json
  pnpm-lock.yaml
Due: pnpm sort:package

chore(release): 1.5.14 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.14 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  ef90af481278c491fc450d99a25ea40a7de889b8
Due: none

feat: add knip
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/erd.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .lintstagedrc
  .releaserc
  .tool-versions
  .ts-prunerc
  Dockerfile
  commitlint.config.ts
  eslint.config.mjs
  knip.config.ts
  package.json
  pnpm-lock.yaml
  release.config.mjs
  scripts/deadcode.ts
  tsconfig.eslint.json
  tsconfig.json
Due: pnpm sort:package

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  e0bcccb2ed1f7cc7afbb40f182207d894fa86f15
Due: none

chore: remove anonymous exports
  commitlint.config.ts
  eslint.config.mjs
  generators/plopfile.mjs
  package.json
  release.config.mjs
Due: pnpm sort:package

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  25111ccde1a6674e92d9c0b135bc04929229c004
Due: none

Notes added by 'git notes add'
  6519d0dbd0085b2dc5766e74093f0ac1a27fe896
Due: none

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm sort:package
