Repository GabrielGuedess/NestJs-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

.lintstagedrc:

{
  "package.json": "pnpm sort:package",
  "src/**/*.ts": [
    "bash -c tsc --noEmit",
    "pnpm find-deadcode",
    "pnpm lint --no-warn-ignored",
    "pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts"
  ]
}

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c2375c96887a90ec806a4c66bd3492ec0e69c054
Due: none

chore(release): 1.5.2 [skip ci]
  package.json
Due: pnpm sort:package

fix: fix import plop
  eslint.config.mjs
  generators/plopfile.mjs
  generators/templates/application/useCases/update/update.spec.hbs
  prisma/schema.prisma
Due: none

fix: command watch
  package.json
Due: pnpm sort:package

chore(release): 1.5.3 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.3 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  0166ec5d82cc189488a5a9c30741f5aae61b146c
Due: none

chore(release): 1.5.4 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.4 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  90e9b547019cf73e43ce0d018d03d1b7ea2a7abb
Due: none

fix: regex plop http module
  generators/plopfile.mjs
Due: none

chore(release): 1.5.5 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.5 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  4fd72282997bbcc1a85306996cc2cd31b3e073f1
Due: none

fix: plop http module
  generators/plopfile.mjs
Due: none

chore(release): 1.5.6 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.6 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  a948588c33556a1bb44f2ab18e012395c38a733d
Due: none

fix: plop
  generators/plopfile.mjs
Due: none

chore(release): 1.5.7 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.7 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  82e1d385d21e8458724954efd9f042eef0e08d5e
Due: none

fix: remove swc
  .swcrc
  nest-cli.json
  package.json
Due: pnpm sort:package

fix: app error
  src/domain/shared/errors/AppError.ts
Due: bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.5.8 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.8 [skip ci]
  package.json
  pnpm-lock.yaml
Due: pnpm sort:package

Notes added by 'git notes add'
  93c1e080a39f812799f8b687661b29e9405233bd
Due: none

fix: add bcryptjs
  package.json
  pnpm-lock.yaml
  src/application/useCases/user/createManyUsers/CreateManyUsersUseCase.ts
  src/application/useCases/user/createUser/CreateUserUseCase.ts
  src/application/useCases/user/updateManyUsers/UpdateManyUsersUseCase.ts
  src/application/useCases/user/updateUser/UpdateUserUseCase.ts
  src/infrastructure/database/prisma/repositories/PrismaAuthRepository.ts
  test/e2e/auth.test.ts
Due: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.5.9 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.9 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  1da748216138442ad5524526414f50e2cf6cb0cd
Due: none

chore(release): 1.5.10 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.10 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  472eab48a0eb4f5e3f2bccc8a8757ce274cef7be
Due: none

chore(release): 1.5.11 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.11 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  363697fbebea21af82b66a0dd56a65c5b745143c
Due: none

chore(release): 1.5.12 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d1c6fe064d09e3594ee045463b908129ea58cd8a
Due: none
