Repository GabrielGuedess/NestJs-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm sort:package, bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.2.0 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  89c9e5bd41fe88be19a59a48676ef602dd067da0
Due: none

feat: add redis
  pnpm-lock.yaml
  src/infrastructure/app.module.ts
  src/infrastructure/cache/cache.module.ts
  src/infrastructure/env.ts
Due: bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.3.0 [skip ci]
  package.json
  pnpm-lock.yaml
Due: pnpm sort:package

Notes added by 'git notes add'
  6842caf9da1e6afb311ef9a21da0aa62f4c76a41
Due: none

fix: remove extra model prisma
  prisma/schema.prisma
Due: none

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.4.0 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  0a292b988842228e0961d1725afafe785f7e8f90
Due: none

fix: add new options in plop
  generators/plopfile.mjs
  generators/templates/application/dtos/createDTO.hbs
  generators/templates/application/dtos/updateDTO.hbs
  generators/templates/application/useCases/createMany/createMany.hbs
  generators/templates/application/useCases/createMany/createMany.spec.hbs
  generators/templates/application/useCases/deleteMany/deleteMany.hbs
  generators/templates/application/useCases/update/update.spec.hbs
  generators/templates/application/useCases/updateMany/updateMany.spec.hbs
  generators/templates/domain/entities/entity.hbs
  generators/templates/domain/entities/entity.spec.hbs
  generators/templates/infrastructure/http/inputs/input.hbs
  generators/templates/infrastructure/http/models/model.hbs
  generators/templates/infrastructure/prisma/prismaRepository.hbs
Due: none

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.4.1 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  b55ceb545262d88f9133d2f4dcc3a8b5ff027f74
Due: none

fix: change name enums plop
  generators/templates/application/dtos/createDTO.hbs
  generators/templates/application/dtos/updateDTO.hbs
  generators/templates/domain/dtos/repository.hbs
  generators/templates/domain/entities/entity.hbs
  generators/templates/infrastructure/http/dtos/requestDTO.hbs
  generators/templates/infrastructure/http/dtos/responseDTO.hbs
  prisma/schema.prisma
Due: none

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.4.2 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  84042f0d98a018e2a18effb7717b4b9d34447047
Due: none

fix: add default value in where
  generators/templates/infrastructure/http/args/args.hbs
  generators/templates/infrastructure/prisma/prismaRepository.hbs
  src/infrastructure/database/prisma/repositories/PrismaUserRepository.ts
  src/infrastructure/http/graphql/args/user.args.ts
  src/infrastructure/http/graphql/generated/schema.gql
Due: bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.4.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f53d550dc0320cbe24a1c6e79e47141583096070
Due: none

chore(release): 1.4.3 [skip ci]
  package.json
Due: pnpm sort:package

test: add e2e tests
  .github/workflows/ci.yml
  eslint.config.mjs
  test/e2e/auth.test.ts
  test/e2e/users.test.ts
Due: none

chore: update env test
  .env.test
Due: none

chore(release): 1.4.4 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.4.4 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  3b342f82242c0f2c8a8979dd7d162cd1cca6badb
Due: none

feat: add plop e2e
  generators/plopfile.mjs
  generators/templates/application/useCases/updateMany/updateMany.spec.hbs
  generators/templates/domain/entities/entity.spec.hbs
  generators/templates/infrastructure/http/inputs/input.hbs
  generators/templates/infrastructure/http/models/model.hbs
  generators/templates/infrastructure/prisma/prismaRepository.hbs
  generators/templates/test/e2e.test.hbs
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: pnpm sort:package

feat: add auto http module and database module plop
  eslint.config.mjs
  generators/plopfile.mjs
  src/infrastructure/database/database.module.ts
Due: bash -c tsc --noEmit, pnpm find-deadcode, pnpm lint --no-warn-ignored, pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.0 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  744912d6b127360bbb21993bb68d2bf3d66de92c
Due: none

fix: change isOptional plop request
  generators/templates/infrastructure/http/dtos/requestDTO.hbs
  generators/templates/infrastructure/http/inputs/input.hbs
  generators/templates/test/e2e.test.hbs
Due: none

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: none

chore(release): 1.5.1 [skip ci]
  package.json
Due: pnpm sort:package

Notes added by 'git notes add'
  3efb3d38f6981a4b7f5eddb437b6c9fa0f9e8535
Due: none

fix: remove relations in generator
  generators/generator.mjs
Due: none

Path conditions:
  pnpm sort:package: any of: package.json
  bash -c tsc --noEmit: any of: src/**/*.ts
  pnpm find-deadcode: any of: src/**/*.ts
  pnpm lint --no-warn-ignored: any of: src/**/*.ts
  pnpm jest --findRelatedTests --bail --passWithNoTests --config ./jest.config.husky.ts: any of: src/**/*.ts
